.wrapper-her__build {
  background: #012f34;
  background-image: url("../../images/section3.svg");
  background-repeat: no-repeat;
  background-position-x: 1260px;
  background-position-y: 350px;
}
.hero-section__span1 {
  margin-top: 140px;
  margin-bottom: 54px;
  display: inline-block;
  height: 4px;
  width: 50px;
  background: #f67e7e;
}
.her-build {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-wrapper1 {
  margin-bottom: 160px;
  width: 500px;
}
.hero-wrapper1 > h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}
.wrapper-build__text {
  width: 445px;
}
.hero-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero-section__strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}
.hero-section__title1:nth-child(1) {
  position: relative;
}
.hero-section__title1:nth-child(1) ::before {
  content: " ";
  width: 72px;
  height: 72px;
  top: 17px;
  left: -76px;
  position: absolute;
  background-image: url("../../images/befor1.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.hero-section__title1:nth-child(2) {
  position: relative;
}
.hero-section__title1:nth-child(2)::before {
  content: " ";
  width: 72px;
  height: 72px;
  top: 17px;
  left: -76px;
  position: absolute;
  background-image: url("../../images/befor2.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.hero-section__title1:nth-child(3) {
  position: relative;
}
.hero-section__title1:nth-child(3)::before {
  position: absolute;
  width: 72px;
  height: 72px;
  content: " ";
  background-size: 100%;
  top: 17px;
  left: -76px;
  background-image: url("../../images/befor3.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.wrapper-build__text > P {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}



@media only screen and (max-width:972px) {
 .wrapper-her__build{
  background-position-x: 857px;
  background-position-y:top;
 }
 .hero-section__span1{
  margin-top: 140px;
  margin-bottom: 5px;
  margin-left: 135px;
 }
  .her-build{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .hero-wrapper1>h2{
    font-size: 32px;
    line-height: 32px;
  }
  .hero-section__list{
    // margin-left: 65px;
  }
  .hero-wrapper1{
    text-align: start;
    margin-bottom: 60px;
    width: 100%;
  }
  .hero-section__text2{
    text-align: start;
    justify-content: center;
  }
  .wrapper-build__text{
    width: 100%;
  }
}
@media only screen and (max-width:575px){
  .hero-wrapper1{
    width: 100%;
    margin-right: 33px;
  }
  .hero-section__span1{
    margin-left: 48px;
  }
  .hero-section__title1{
    font-size: 15px;
    line-height: 25px;
  }
  .hero-section__title1 {
    margin-bottom: 80px;
  }
  .hero-section__strong{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 49px;
  }
  .wrapper-build__text{
    text-align: center;
    width: 100%;
  }
  .hero-section__title1:nth-child(1) ::before{
    top: -57px;
    left: 126px;
  }
  .hero-section__title1:nth-child(2)::before{
    top: -67px;
    left: 126px;
  }
  .hero-section__title1:nth-child(3)::before{
    top: -58px;
    left: 126px;
  }
}