.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-wrapper {
  width: 591px;
}
.hero-wrapper > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}
.hero-wrapper > h1 > span {
  color: #f67e7e;
}
.hero-section__text {
  width: 445px;
}
.hero-section__text > span {
  margin-bottom: 79px;
  display: inline-block;
  height: 4px;
  width: 50px;
  background: #79c8c7;
}
.hero-section__text > p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}


@media only screen and (max-width:803px){
  .hero{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width:635px){
  .hero-wrapper{
    width: 100%;
  }
  .hero-section__text{
    width: 100%;
  }
}


