.deliv-section-top {
  margin: 0px 51px;
  width: 932px;
}
.deliv-section-top > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.deliv-section__List {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deliv-section__title {
  background-image: url("../../images/backroundli.svg");
  background-repeat: no-repeat;
  background-size: 67px;
  background-position: calc(50%) top;
}
.section-title__img {
  margin-left: 144px;
}
.deliv-section-top > h2 > span {
  color: #79c8c7;
}
.section-title__text {
  width: 350px;
}
.section-title__text > P {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.deliv-section__strong1 {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
  text-align: center;
}
.deliv-section__strong2 {
  margin-bottom: 32px;
  display: block;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.box-ready>h2{
  // width: 336px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #012f34;
}
.ready-section {
  padding: 48px 0px;
  background-color: #f67e7e;
}
@media only screen and (max-width:1180px) {
  .deliv-section, .deliv-section-top, .section-title__text{
    width: 100%;
  }
  .deliv-section-top{
    margin: 0;
  }
}
@media only screen and (max-width:940px){
  .deliv-section{
    display: flex;
    flex-direction: column;
  }
  .deliv-section__List{
    flex-direction: column;

  }
  .section-title__text{
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .section-title__img{
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width:585px){

  .section-title__text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .section-title__img{
    display: block;
    margin: 0 auto;
  }
}


